header.header
  .header__logo
    if KEY=='top'
      h1
        a(href=DOMAIN)
          img(src=DIR+"img/common/header_logo.png" alt='Plus D')
    else
      p
        a(href=DOMAIN)
          img(src=DIR+"img/common/header_logo.png" alt='Plus D')
