block params
	-
		var DOMAIN = "https://project-dream-64b9d.firebaseapp.com/";
		var TITLE = "";
		var KEYWORDS = "";
		var DESCRIPTION = "";
		var KEY = "";
		var URL = "";
		var OG = "";
		var DIR = "";